{% extends 'home.html' %}

{% block content %}
    <div style="max-width: 900px; word-wrap: break-word;margin-left: 20%;">
        {% if object.image != "" %}
            <img class="img-fluid" src="{{ object.image.url }}" style="border-radius: 3%;border-style: ridge;">
        {% endif %}
        <br><br>
        <h1>{{ object.title }}</h1>
        <div style="word-wrap: break-word;">
            <p class="card-text">{{ object.content|safe }}</p>  
            <br><br>
            <small>Posted by {{ object.user.username }} at <strong>{{ object.date }}</strong></small> 
            {% if request.user.id == object.user.id %}
                <a href="{% url 'delete' object.pk %}" class="btn btn-outline-danger">Delete Blog</a>
            {% endif %}
        </div>
    </div>
    <br>
    <!-- <a class="list-group-item list-group-item-action">
        <h2>{{ object.title }}</h2>
        <hr>
        {% if object.image %}
            <img src="{{ object.image.url }}">
            <p><strong>{{ object.user.username }}</strong></p>
            {% endif %}
        <br>
        <p>{{ object.content|safe }}</p>
        <br>
        <p>{{ object.date }}</p>
        {{ object.pk }}
        <br><hr>
        <a href="{% url 'comment' post_id=object.pk %}">Comment Out</a>
        <hr>
        {% if comments %}
            {% for comment in comments %}
                <div>
                    <p>{{ comment.comment }} 
                        {% if request.user.id == comment.user_id %} 
                            ---<a href="{% url 'delete-comment' comment.pk %}">Delete</a></p>
                        {% endif %}
                    <p>
                        <strong>Commented by {{ comment.user.username }} at {{ comment.date }}</strong>
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    </a> -->
{% endblock %}
