<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for object in object_list %}
            <h2>{{ object.title }}</h2>
            <hr>
            <br>
            <img src="{{ object.image.url }}">
            <p>{{ object.content }}</p>
            <br>
            <p>{{ object.date }}</p>
            <a href="{% url 'detail' object.pk %}">Read More</a>
        {% endfor %}
    </div>
    <div>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><< Previos</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next >></a>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>